{% extends 'base.html' %}
{% block content %}
<form class="search" action="" method="get">
    <input type="text" name='q' placeholder="Search....">
    <button>&#128269</button>
</form>
<div class="blog">
    {% for post in post_list %}
    <div class="blogpost">
        <a class="blogpost" href="{% url 'post_detail' post.slug %}">
            <div>
                <h4>{{post.title}}</h4>
                <small class="author" >{{post.author}} | {{post.created_on}} </small>
                <p class="content">{{post.content | truncatechars:'150'}}</p>
            </div>
        </a>
    </div>
        {% empty %}
        <p><i>No Search Result Found</i></p>
    {% endfor %}
</div>
{% endblock content %}
