*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightcyan;
}
a{
    text-decoration: none;
    color: black;
    font-family: cursive;
}
footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
}
li{
    list-style: none;
    color: blue;
}
ul{
    display: flex;
    gap: 30px;
    font-size: small;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 10px 10px;
    position:fixed;
    width: 99%;
}
.unique{
    text-transform: uppercase;
    color: blue;
}
h4{
    text-transform: uppercase;
    color: blue;
    padding-left: 3px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 20px;  
    margin-top: 20px;
    padding: 0px 10px;
}
.blogpost{
    box-shadow: 0px 0px 1px;
    background-color: lightblue ;
    color: rgb(2, 2, 87);
    padding-top: 15px;
}
small{
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
}
.author{
    padding: 10px 7px;
}
.content{
    padding: 3px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color:lightblue;
}
h1{
    color: rgb(13, 13, 197);
    font-family: cursive;
    font-weight: 900;
    font-size: 50px;
}
.giving{
    color:blue;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    gap: 20px;
}
input{
    width: 250px;
}
button{
    width: 30px;
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 3px;
}
button:hover{
    box-shadow: 0px 0px 3px;
}
@media screen and (max-width:450px){
    .blog{
        display: grid;
        grid-template-columns: 1fr;
    }
    h1{
        font-size: 35px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:800px) and (min-width:450px) {
    .blog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:800px) and (max-width:1100px) {
    .blog{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}